<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect"> org.hibernate.dialect.SQLServerDialect</property>
    <property name="hibernate.connection.driver_class"> com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.connection.url">jdbc:sqlserver://tsftdirsvr\sa:1433;databaseName=FTDIAG</property>
    <property name="hibernate.connection.username">sa</property>
    <property name="hibernate.connection.password">@R0ckwell</property>
    <property name="hibernate.format_sql">false</property>
    <property name="hibernate.show_sql">false</property>
    <property name="hibernate.order_updates">false</property>
    <property name="hibernate.use_sql_comments">false</property>
    <property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>
    <property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>
    <property name="hibernate.jdbc.lob.non_contextual_creation">true</property>
    <property name="hibernate.id.new_generator_mappings">false</property>
    <property name="hibernate.generate_statistics">true</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.globally_quoted_identifiers">true</property>
    <mapping class="modelo.EntidadeOverride"/>
  </session-factory>
</hibernate-configuration>
